.ant-input:hover,
.ant-input:focus,
.ant-input-number:hover,
.ant-input-number:focus .ant-input-affix-wrapper:hover,
.ant-picker:hover,
.ant-checkbox:hover,
.ant-date-picker-input.ant-input,
.ant-checkbox-wrapper .ant-checkbox-inner:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.ant-input:focus,
.ant-input-number:focus {
  box-shadow: lightgray !important;
}

.anticon:before {
  display: block !important;
  font-family: 'anticon' !important;
}

.ant-spin-text {
  color: var(--primary-color);
}

.ant-spin-dot-item {
  background-color: var(--primary-color) !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}
